body{
  margin:0;
  font-family: Arial, sans-serif;
  background:#0d0d0d;
  color:#fff;
  text-align:center;
}

.container{
  padding:20px;
}

.card{
  background:#111;
  border-radius:15px;
  padding:20px;
  margin-top:30px;
  box-shadow:0 0 20px rgba(255,215,0,0.2);
}

img{
  width:100%;
  border-radius:10px;
}

h1{
  color:gold;
}

.price{
  font-size:24px;
  color:#00ff99;
}

button{
  background:gold;
  color:black;
  border:none;
  padding:15px 25px;
  font-size:18px;
  border-radius:10px;
  margin-top:20px;
  cursor:pointer;
}

.timer{
  font-size:28px;
  color:red;
  margin-top:10px;
}

a{
  text-decoration:none;
  color:black;
}